In [1]:
# Ejemplo de valor
print(type(1))
print(10)
print(type(10))

<class 'int'>
10
<class 'int'>

In [2]:
# variables
variable=100
print(variable)
print(type(variable))

100
<class 'int'>

In [3]:
# variable 20 es un entero
variable_2=int(20)
print(variable_2)
print(type(variable_2))

20
<class 'int'>

In [4]:
# valor 10 en base decimal
print("base decimal")
print(10)

base decimal
10

In [5]:
# valor 10 en binario
print("base binaria")
print(0b1010)

base binaria
10

In [6]:
# valor 10 en octal
print("Base octal")
print(0o12)

Base octal
10

In [7]:
# valor 10 en hexadecimal
print("base hexadecimal")
print(0xa)

base hexadecimal
10

In [8]:
# entero con 60 digitos
variable_3=12345678912345678912345678912345678912345678912345678912345556
print(variable_3)
print(type(variable_3))

12345678912345678912345678912345678912345678912345678912345556
<class 'int'>

In [9]:
# valor 0.5 flotante
print(0.5)
print(type(0.5))

0.5
<class 'float'>

In [10]:
# variable 0.100546 flotante
variable_4=0.100546
print(variable_4)
print(type(variable_4))

0.100546
<class 'float'>

In [11]:
# variable 1 flotante
variable_7=float(1)
print(variable_7)
print(type(variable_7))

1.0
<class 'float'>

In [12]:
# precicion de 17 decimales
variable_5=0.999999999999999
print(variable_5)
print(type(variable_5))

0.999999999999999
<class 'float'>

In [13]:
# valor 2.0e-3
variable_6=2.0e-3
print(variable_6)
print(type(variable_6))

0.002
<class 'float'>

In [14]:
# operadores aritmeticos
a=10
b=3

In [15]:
# suma
print("SUMA")
print(a+b)

SUMA
13

In [16]:
# resta
print("resta")
print(a-b)

resta
7

In [17]:
# multiplicacion
print("multiplicacion")
print(a*b)

multiplicacion
30

In [18]:
# division
print("division")
print(a/b)

division
3.3333333333333335

In [19]:
# potenciacion
print("potencia")
print(a**b)

potencia
1000

In [20]:
# modulo o residuo
print("modulo o residuo")
print(a%b)

modulo o residuo
1

In [21]:
# division entera
print("division entera")
print(a//b)

division entera
3

In [22]:
# UN CONTADOR TIENE 300 MIN Y SE LE SUMAN 3600 SEG CUANTAS HORAS EN TOTAL SON
min=300
seg=3600
hor=(min/60)+((seg/60)/60)
print(hor)

6.0

In [23]:
# operadores de comparacion
comparar=10
print(comparar<10)
print(comparar>10)
print(comparar==10)
print(comparar<=10)
print(comparar>=10)
print(comparar!=10)

False
False
True
True
True
False

In [28]:
# comparar enteros con flotantes
entero=10
flotante=10.0
print(entero<flotante)
print(entero>flotante)
print(entero==flotante)
print(entero<=flotante)
print(entero>=flotante)
print(entero!=flotante)
print(2.0 is 2)
print(2.0==2)
numero1=6
numero2=2
resultado=numero1/numero2
print(resultado)
print ((resultado%2)==2)

False
False
True
True
True
False
False
True
3.0
False

<>:10: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
<>:10: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
C:\Users\Erick\AppData\Local\Temp\ipykernel_6284\3332434298.py:10: SyntaxWarning: "is" with 'float' literal. Did you mean "=="?
  print(2.0 is 2)